name: Deploy Bicep to Azure

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ f783f984-7398-498b-8308-aa90deeb3958 }}

      - name: Deploy Bicep
        run: |
          az deployment group create \
            --resource-group myRg \
            --template-file main.bicep
